	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/04/2017 14:01
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-gym-1:before { content: "\f100"; }
.flaticon-gym:before { content: "\f101"; }
.flaticon-people:before { content: "\f102"; }
.flaticon-exercise:before { content: "\f103"; }
.flaticon-weightlifting:before { content: "\f104"; }
.flaticon-paint:before { content: "\f105"; }
.flaticon-lotus-1:before { content: "\f106"; }
.flaticon-lotus:before { content: "\f107"; }
.flaticon-flower:before { content: "\f108"; }
.flaticon-settings:before { content: "\f109"; }
.flaticon-volunteer:before { content: "\f10a"; }
.flaticon-water:before { content: "\f10b"; }
.flaticon-rock-and-roll:before { content: "\f10c"; }
.flaticon-smile:before { content: "\f10d"; }
.flaticon-stop-1:before { content: "\f10e"; }
.flaticon-smiley:before { content: "\f10f"; }
.flaticon-timer:before { content: "\f110"; }
.flaticon-alarm-clock-2:before { content: "\f111"; }
.flaticon-clock:before { content: "\f112"; }
.flaticon-alarm-clock-1:before { content: "\f113"; }
.flaticon-alarm-clock:before { content: "\f114"; }
.flaticon-avatar:before { content: "\f115"; }
.flaticon-man-user:before { content: "\f116"; }
.flaticon-headphones:before { content: "\f117"; }
.flaticon-stop:before { content: "\f118"; }
.flaticon-circular-auriculars:before { content: "\f119"; }
.flaticon-headphone-symbol:before { content: "\f11a"; }
.flaticon-thumb-up-sign:before { content: "\f11b"; }
.flaticon-yoga-3:before { content: "\f11c"; }
.flaticon-yoga-2:before { content: "\f11d"; }
.flaticon-yoga-1:before { content: "\f11e"; }
.flaticon-person-silhouette-in-meditation-posture-in-spa:before { content: "\f11f"; }
.flaticon-backbend:before { content: "\f120"; }
.flaticon-yoga:before { content: "\f121"; }
.flaticon-man-doing-yoga:before { content: "\f122"; }
.flaticon-lotus-3:before { content: "\f123"; }
.flaticon-lotus-2:before { content: "\f124"; }
.flaticon-yoga-posture:before { content: "\f125"; }
.flaticon-hinduist-yoga-position:before { content: "\f126"; }
.flaticon-buddhist-yoga-pose:before { content: "\f127"; }
.flaticon-hand-with-a-dumbbell:before { content: "\f128"; }
.flaticon-dumbbell-5:before { content: "\f129"; }
.flaticon-gym-dumbbell-black-silhouette:before { content: "\f12a"; }
.flaticon-dumbbell-4:before { content: "\f12b"; }
.flaticon-dumbbell-3:before { content: "\f12c"; }
.flaticon-man-lifting-weights:before { content: "\f12d"; }
.flaticon-dumbbell-2:before { content: "\f12e"; }
.flaticon-dumbbell-1:before { content: "\f12f"; }
.flaticon-dumbbell:before { content: "\f130"; }